


@import "bootstrap/bootstrap.less";
@import "bootstrap/responsive.less";


@purple1: #740099;
@purple2: #4a2656;
@purple3: #2c003b;
@purple4: #9d27c2;
@purple5: #a547c2;

@green1: #2bb300;
@green2: #3a642c;
@green3: #114500;
@green4: #53d22b;
@green5: #6dd24d;
@beige1: #ffffee;
@beige2: #bfbfa3;

.light-text  {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  }


@media (min-width: 767px) and (max-width: 1199px) {
  #grid > .core(45px, 15px);
}

@media (min-width: 1200px) {

  #grid > .core(45px, 15px);

  // Input grid
  #grid > .input(45px, 15px);

}

html {
  overflow-y:scroll;
  background: @beige2;
  background-image: url(//s3.amazonaws.com/yaluandmike/base/img/bg1.png), url(//s3.amazonaws.com/yaluandmike/base/img/bg2.png);
  background-repeat: repeat-x, repeat;
  text-shadow: 1px 1px rgba(33, 33, 33, 0.1);
  display: block;
}

html.lt-ie9 {
  background: url(http://s3.amazonaws.com/yaluandmike/base/img/bg2.png) repeat;
}

body {
  padding-bottom: 40px;
  font-family: "Trykker", "Times New Roman";
  font-weight: 400;
  font-size: 14px;
  background: transparent;
}

.main-container {
  margin-top: 33px;
}

@media (max-width: 480px) {
  .main-container {
    margin-top: none;
    position: relative;
    top: -51px;
    }
}

h1, h2, h3, h4, h5, h6, .navbar {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  color: @purple2;
}

.navbar {
  font-weight: 600;
}

h2 {
  font-size: 2.5em;
  line-height: 50px
}

h3 {
  font-size: 1.8em;
  line-height: 40px;
}

h4 {
  font-size: 1.5em;
  line-height: 25px;

}

h5, h6 {
  font-weight: 400;
  b {
    font-weight: 600;
    }
}

.main-container {
  min-height: 700px;
  background: @beige1; /* #f0f0f0;*/
  .box-shadow(5px 5px 5px rgba(99, 99, 99, .8));
  .border-radius(5px);
  margin-left: 0;
  padding: 35px 25px 25px;
  behavior: url(/less/PIE.htc);
}

.main-content {
  position: relative;

  p, li {
    line-height: 22px;
    margin-top: 15px;
    }
  }



figure {
  display: inline-block;
  img {
    border-top: 1px dotted #333;
    padding: 5px;
    }
  figcaption {
    text-align: center;
    border-bottom: 1px dotted #333;
    padding: 8px;
    }
}

hr.footer {
  border: 1px dashed #eee;
  margin-bottom: 44px;
}


.photos {
  .album-spacer {
    height: 45px;
    width: 10px;
    }
  #photo-nav-bar {
    .nav {
      margin-bottom: 0;
      border: 2px solid @green3;
      }
    li {
      line-height: 18px;
      margin-top: 0;
      a {
        color: @purple2;
        background: @beige1;
        font-family: "Arimo", "Sans-Serif";
        padding-left: 0;
        }
      &.active {
        a {
          color: @purple1;
          }
        }
      }

    position: fixed;
    bottom: 0;
    width: 730px;
    text-align: right;
    z-index: 1000;
    }

  .picture-item {
    float: left;
    img {
      border: 1px solid black;
      }
    }
}

.lt-ie9 .picture-item {
  float: none;
}

.navbar .nav > li > a {
  padding: 8px 8px 10px;
}

.lt-ie9 .nav > li {
  font-size: 13px;
}

.typeahead-result {
  span {
    padding-right: 36px;
    }
  position: relative;
  img {
    position: absolute;
    right: 0;
    top: 0px;
    width: 24px;
    height: 24px;
    }
  height: 24px;
}
#song-name {
  width: 300px;
}


.gp-gallery-picture-zoom {
    border: 1px solid #bbb;
    margin: -6px 0 0 -6px;
    position: absolute;
    z-index: 100;
    padding: 5px;
    background: white;
    box-shadow: 0 0 10px #999;
}
.gp-gallery-picture-hover {
    box-shadow: 1px 1px 5px #333;
}


#nav-chart {
  background: url(//s3.amazonaws.com/yaluandmike/base/img/nav-bg.png) repeat-x;
  width: 100%;
  a:hover {
    text-decoration: none;
    }
  .node {
    cursor: pointer;
    }
  rect.node {
    fill: @purple2;
    stroke: #000;
    stroke-width: .5px;
    }
  text {
    font-size: 15px;
    }

  .stem {
    cursor: default;
    }

  text.shadow {
    stroke: @beige1;
    opacity: 1;
    stroke-width: 3px;
    }
  .active {
    text {
      font-size: 18px;
      font-weight: bold;
      }
    text.shadow {
      stroke-width: 5px;
      stroke: @beige1;
      stroke-opacity: .8;
      }
    }

  path.link {
    fill: none;
    stroke: @green3;
    }
  position: absolute;
  left: 0;
  top: 0;
  width: 600px;
  z-index:1000;
}

#post-container {
  .post {
    margin-top: 60px;
    margin-bottom: 65px;
    position: relative;
    h3 {
      a {
      color: @purple2;
      }
      margin-bottom: 28px;
      }

    .time {
      position: absolute;
      right: 0;
      top: 25px;
      color: #999;
      }
    .comments {
      color: @purple1;
      text-decoration: underline;
      &:hover {
        text-decoration: none;
        }
      float: right;
      }
    }
  .show-all {
    color: @purple1;
    margin-bottom: 10px;
    display: block;
    }
}
.post-pagination {
  text-align: center;
}

.blurred {
  -webkit-filter: blur(6px);
  filter: blur(6px);
  filter: url("./blur.svg#gaussian_blur");
}

.lt-ie10 .initial-backdrop {
  opacity: 0.95;
  filter: alpha(opacity=95);
}

footer p {
  font-size: 10px;
  color: #aaa;
  text-align: right;
  padding-top: 5px;
}


.home .main-container {

  .directions {
    width: 100%;
    margin: 0;
    text-align: center;
    padding: 10px 0;
    }

  h1 {
    font-size: 5em;
    line-height: 70px;
    }

  p {
    width: 100%;
    text-align: center;
    font-size: 1.9em;
    }

  p.countdown {
    text-align: right;
    color: #ccc;
    font-size: 1.3em;
    strong {
      font-size: 1.5em;
      color: #333;
      }
    }

  .front-image {
    position: relative;
    left: -25px;
    width: 755px;
    img {
      width: 100%;
      border: 1px solid @purple2;
      border-left: none;
      border-right: none;
      /*
      -o-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -webkit-border-radius: 10px;
      border-radius: 10px;
      -webkit-box-shadow: 4px 4px 5px rgba(74, 38, 86, 0.6);
      -moz-box-shadow: 4px 4px 5px rgba(74, 38, 86, 0.6);
      -ms-box-shadow: 4px 4px 5px rgba(74, 38, 86, 0.6);
      box-shadow: 4px 4px 5px rgba(74, 38, 86, 0.6);
      */
      }
    }
  }

.no-geolocation .home .main-container .directions {
  display: none;
}


.navbar-inner {
  #gradient > .vertical(@purple2, @purple3);
}

.navbar .nav .active > a, .navbar .nav .active > a:hover {
  background: @purple3;
}
@media (max-width: 766px) {
  .home .main-container .front-image {
    width: 100%;
    }
}

select, label {
  cursor: pointer;
  }


#gift-table {
  .table th {
    font-weight: normal;
    font-size: 12px;
    }
  select {
    width: 52px;
    }
  img {
    border: 2px solid white;
    .box-shadow(1px 1px 2px 1px rgba(99, 99, 99, .8));
    }
  .total {
    text-align: right;
    font-size: 1.1em;
    }
}
.other-gifts {
  form.payment {
    label {
      margin-right: 20px;
      }
    }
  form {
    label, input {
      display: inline-block !important;
      }
    }
}


label.error {
  color: red;
  padding: 2px 8px;
  margin-top: 2px;
}

.wedding-party .main-content {
  img {
    border: 1px solid black;
    float: left;
    margin-right: 10px;
    }
}

.table-striped tbody tr:nth-child(odd) td,
 .table-striped tbody tr:nth-child(odd) th {
  background-color: #EDF5E6;
}

.footnotes {
  margin-top: 50px;
  font-size: 0.8em;
}

.thank-you {

  h1 {
    text-align: center;
    font-size: 4em;
    font-family: 'Great Vibes', cursive;
    margin-top: 4em;
    }

  position: absolute;

  left: 3000px;
}

.rsvp-address-container {
  position: absolute;
  z-index: 1; /* prevent shadows falling behind containers with backgrounds */
  overflow: hidden;
  list-style: none;
  margin: 0;
  padding: 0;

  .rsvp-card {
    position: relative;
    float: left;
    width: 690px;
    height: 650px;
    padding: 0;
    border: 1px solid #efefef;
    margin: 0 30px 30px 0;
    background: #FEEEDC;
    background-image: url(//s3.amazonaws.com/yaluandmike/base/img/parchment.jpg);
    background-repeat: repeat;

    -webkit-box-shadow: 0 1px 4px rgba(82, 70, 56, 0.27), 0 0 40px rgba(82, 70, 56, 0.06) inset;
    -moz-box-shadow: 0 1px 4px rgba(82, 70, 56, 0.27), 0 0 40px rgba(82, 70, 56, 0.06) inset;
    box-shadow: 0 1px 4px rgba(82, 70, 56, 0.27), 0 0 40px rgba(82, 70, 56, 0.06) inset;
    }

  .rsvp-card:before,
  .rsvp-card:after {
    content: '';
    z-index: -1;
    position: absolute;
    left: 10px;
    bottom: 10px;
    width: 70%;
    max-width: 690px; /* avoid rotation causing ugly appearance at large container widths */
    max-height: 650px;
    height: 55%;
    -webkit-box-shadow: 0 8px 16px rgba(82, 70, 56, 0.3);
    -moz-box-shadow: 0 8px 16px rgba(82, 70, 56, 0.3);
    box-shadow: 0 8px 16px rgba(82, 70, 56, 0.3);
    -webkit-transform: skew(-7deg) rotate(-2deg);
    -moz-transform: skew(-7deg) rotate(-2deg);
    -ms-transform: skew(-7deg) rotate(-2deg);
    -o-transform: skew(-7deg) rotate(-2deg);
    transform: skew(-7deg) rotate(-2deg);
    }

  .rsvp-card:after {
    left: auto;
    right: 10px;
    -webkit-transform: skew(7deg) rotate(2deg);
    -moz-transform: skew(7deg) rotate(2deg);
    -ms-transform: skew(7deg) rotate(2deg);
    -o-transform: skew(7deg) rotate(2deg);
    transform: skew(7deg) rotate(2deg);
    }

  .too-many {
    display: none;
    color: #933;
    font-size: 15px;
    text-align: center;
    }

  .rsvp-inside {
    width: 660px;
    margin-left: 19px;
    position: relative;
    top: 40px;
    }

  .fancy-input {
    background: transparent;
    border-width: 0 0 2px 0;
    box-shadow: none;
    border-color: #E8CEB0;
    font-family: 'Great Vibes', cursive;
    font-size: 14px;
    line-height: 16px;

    &::-webkit-input-placeholder {
      color: #e8ceb0;
      }

    &:-moz-placeholder {
      color: #e8ceb0;
      }

    &:focus {
      box-shadow: none;
      border-width: 0 0 2px 0;
      border-color: #52493F;
      }
    }

  #dietary-concerns {
    background: transparent;
    border-width: 1px;
    box-shadow: none;
    border-color: #E8CEB0;
    font-family: 'Josefin Sans', cursive;
    font-size: 16px;
    line-height: 18px;
    width: 645px;

    &::-webkit-input-placeholder {
      color: #e8ceb0;
      }

    &:-moz-placeholder {
      color: #e8ceb0;
      }

    &:focus {
      box-shadow: none;
      border-width: 1px;
      border-color: #52493F;
      }
    }

  .rsvp-address {
    font-size: 28px;
    line-height: 28px;
    height: 25px;
    width: 95%;
    }

  .send-reply {
    font-family: 'Josefin Sans';
    background: none;
    font-size: 20px;
    font-weight: bold;
    }

  .individual {
    margin-bottom: 30px;
    }

  table {
    width: 670px;
    label {
      display: inline;
      font-size: 13px;
      }
    }


  .fancy {
    width: 20px;
    position: relative;
    display: inline-block;
    }

  .fancy label {
    cursor: pointer;
    position: absolute;
    width: 20px;
    height: 20px;
    top: 1px;
    left: -1px;
    border-radius: 4px;

    -webkit-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
    -moz-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
    box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
    background: #fcfff4;

    background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    background: -o-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    background: -ms-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 );
    }

  .fancy label:after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    content: '';
    position: absolute;
    width: 9px;
    height: 5px;
    background: transparent;
    top: 4px;
    left: 4px;
    border: 3px solid #333;
    border-top: none;
    border-right: none;

    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    }

  .fancy label:hover::after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    filter: alpha(opacity=30);
    opacity: 0.5;
    }

  .fancy input[type=radio]:checked + label:after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
    }

  .fancy input[type=radio] {
    filter: alpha(opacity=0);
    opacity: 0;
    }
  }

.btn {
  background-color: hsl(290, 37%, 47%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#dabce0", endColorstr="#954ba4");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#dabce0), to(#954ba4));
  background-image: -moz-linear-gradient(top, #dabce0, #954ba4);
  background-image: -ms-linear-gradient(top, #dabce0, #954ba4);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #dabce0), color-stop(100%, #954ba4));
  background-image: -webkit-linear-gradient(top, #dabce0, #954ba4);
  background-image: -o-linear-gradient(top, #dabce0, #954ba4);
  background-image: linear-gradient(#dabce0, #954ba4);
  border-color: #954ba4 #954ba4 hsl(290, 37%, 38.5%);
  color: #333 !important;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.56);
  -webkit-font-smoothing: antialiased;
}

.payment-errors {
  margin-bottom: 5px;
  width: 100%;
  text-align: center;
  color: #c00;
  font-size: 1.2em;
}