


@import "bootstrap/bootstrap.less";

#grid > .core(45px, 15px);

body {
  padding-top: 60px;
  padding-bottom: 40px;
}

@import "bootstrap/responsive.less";

@media (min-width: 1200px) {

  #grid > .core(45px, 15px);

  // Input grid
  #grid > .input(45px, 15px);

}

@gridColumnWidthLarge: 60px;
@gridGutterWidthLarge: 20px;
html {overflow-y:scroll;}
body {
  font-family: "Trykker", "Times New Roman";
  font-weight: 400;
  font-size: 14px;
}

h1, h2, h3, h4, h5, h6, .navbar {
  font-family: "Arimo", "Sans-Serif";
  font-weight: 700;
}

.main-content {
  p, li {
    line-height: 22px;
    margin-top: 15px;
    }
  }


figure {
  display: inline-block;
  img {
    border-top: 1px dotted #333;
    padding: 5px;
    }
  figcaption {
    text-align: center;
    border-bottom: 1px dotted #333;
    padding: 8px;
    }
}