{% extends "base.html" %}

{% block content %}

<h2>Photos</h2>

<div id="photo-nav-bar">
  <ul class="nav nav-tabs">
    {% for album in photos %}<li><a href="#{{ album|replace(" ", "-")|lower }}"><b>{</b>{{ album }}<b>}</b></a></li>{% endfor %}
  </ul>
</div>

{% for album, album_pics in photos.items() %}
  <div class="album-spacer" id="{{ album|replace(" ", "-")|lower }}"></div>
  <h3>{ {{ album }} }</h3>
  <div class="album-container">
    {% for picture in album_pics %}
    <div class="picture-item">
      <a href="{{ picture.display.url }}" {% if picture.caption %}title="{{ picture.caption|escape }}"{% endif %} rel="lightbox[{{ album|replace(" ", "-")|lower }}]">
        <img src="{{ picture.thumbnail.url }}" width="{{ picture.thumbnail.width }}" height="{{ picture.thumbnail.height }}">
      </a>
    </div>{% endfor %}
    <div class="clearfix"></div>
  </div>
{% endfor %}
{% endblock %}


