<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
  <head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<title>Yalu and Mike{% block title %}{% endblock %}</title>
	<meta name="description" content="">
	<meta name="author" content="Michael and Yalu">

	<meta name="viewport" content="width=device-width">


        {% less href="/less/style.less" head=True %}
        {% script src="/js/libs/modernizr-2.5.3-respond-1.1.0.min.js" head=True %}
        {% script src="/js/libs/less-1.3.0.min.js" head=True debug=True %}
        <link href='http://fonts.googleapis.com/css?family=Arimo:700|Trykker' rel='stylesheet' type='text/css'>
        {% block headjs %}{% endblock %}
  </head>
<body>
<!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->
{% block navbar %}
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <div class="nav-collapse">
            <ul class="nav">
              <li{% if "/" not in file %} class="active"{% endif %}><a href="/">Home</a></li>
              <li{% if "story/" in file %} class="active" {% endif %}><a href="/story/">How we met</a></li>
              <li{% if "engagement/" in file %} class="active" {% endif %}><a href="/engagement/">Engagement Story</a></li>
              <li{% if "pictures/" in file %} class="active" {% endif %}><a href="/pictures/">Photos</a></li>
              <li{% if "party/" in file %} class="active" {% endif %}><a href="/party/">Wedding Party</a></li>
              <li{% if "venue/" in file %} class="active" {% endif %}><a href="/venue/">Place &amp; Time</a></li>
              <li{% if "gifts/" in file %} class="active" {% endif %}><a href="/gifts/">Gifts</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

{% endblock %}
    <div class="container">
      <div class="main-container">
        <div class="main-subcontainer">

          <h2>{% block subtitle %}{% endblock %}</h2>
          <div class="main-content span12" data-tmpl="{{ "/" + file.lstrip("/") }}">
            {% block content %}
            {% endblock %}

            <hr class="footer">


            {% block disqus %}
            {% endblock %}
          </div>

        </div>
      </div>
      {% block footer %}
      <footer>
        <p>This is some footer</p>
      </footer>
      {% endblock %}
    </div>


<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
{% script src="/js/libs/underscore.js" %}
{% script src="/js/libs/bootstrap/bootstrap.min.js" %}
{% script src="/js/libs/jquery.pjax.js" %}
{% coffee src="/js/script.coffee" %}
<script type="text/javascript">
	var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
	(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
	g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
	s.parentNode.insertBefore(g,s)}(document,'script'));
</script>

</body>
</html>
