<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie10 lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie10 lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9]>    <html class="no-js lt-ie10" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
  <head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <script type="text/javascript">window.startTime=new Date();</script>

	<title>Yalu and Mike {% block title %}{% endblock %}</title>
	<meta name="description" content="">
	<meta name="author" content="Michael and Yalu">
    <meta name="google-site-verification" content="deZpeRnpl1BnvykcRgTg3noGCRqzmUxDApDOoTfqQ1M" />
	<meta name="viewport" content="width=device-width">

        {% less href="/less/style.less" head=True %}
        {% style href="/less/lightbox.css" head=True %}
        <link href='//fonts.googleapis.com/css?family=Simonetta:400,900|Trykker' rel='stylesheet' type='text/css'>
        {% script src="/js/libs/modernizr-2.5.3-respond-1.1.0.min.js" head=True %}
        {% script src="/js/libs/less-1.3.0.min.js" head=True debug=True %}
        {% block headjs %}{% endblock %}
  </head>
<body class="{{ file.strip("/").split("/")[0] }}">
<!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->
{% block navbar %}
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <div class="nav-collapse">
            <ul class="nav">
              <li{% if "/" not in file %} class="active"{% endif %}><a href="/">Home</a></li>
              <li{% if "story/" in file %} class="active" {% endif %}><a href="/story/">How we met</a></li>
              <li{% if "engagement/" in file %} class="active" {% endif %}><a href="/engagement/">Engagement Story</a></li>
              <li{% if "pictures/" in file %} class="active" {% endif %}><a href="/pictures/">Photos</a></li>
              <li{% if "party/" in file %} class="active" {% endif %}><a href="/party/">Wedding Party</a></li>
              <li{% if "venue/" in file %} class="active" {% endif %}><a href="/venue/">Place &amp; Time</a></li>
              <li{% if "updates/" in file %} class="active" {% endif %}><a href="/updates/">Updates</a></li>
              <li{% if "other/" in file %} class="active" {% endif %}><a href="/other/">Other Info</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
        <div id="nav-chart"></div>

{% endblock %}
    <div class="container">
      <div class="main-container span12">
        <div class="outer-container">
          <div class="main-subcontainer">

            <h2>{% block subtitle %}{% endblock %}</h2>
            <div class="main-content" data-tmpl="{{ "/" + file.lstrip("/") }}">
              {% block content %}
              {% endblock %}

              <hr class="footer hide">


              {% block disqus %}
              {% endblock %}
            </div>

          </div>
        </div>
        </div>
        {% block footer %}
        <footer>
          <p>Michael Axiak &copy; 2012. All Rights Reserved.</p>
        </footer>
      {% endblock %}
    </div>

{% block endbody %}{% endblock %}

<div class="modal-backdrop initial-backdrop"></div>
<div id="pw-modal" class="modal fade in hide">
  <div class="modal-header">
    <h3>Password required</h3>
  </div>
  <form class="pw-form" action="." name="pw-form" style="margin: 0">
    <div class="modal-body">
      <p>
      To access this site, answer the following question:
      </p>
      <tt>
        Who isn't the best detective in the world?
      </tt>
      <br>
      <input type="password" class="pw-answer">
      <div class="alert alert-error hide">
        <strong>Oops</strong> That's not the correct answer.
      </div>
    </div>
    <div class="modal-footer">
      <input type="submit" class="btn btn-primary" value="Enter">
    </div>
  </form>
</div>


{# <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script> #}
{% script src="/js/libs/jquery-1.7.2.min.js" %}
{% script src="/js/libs/underscore.js" %}
{% script src="/js/libs/lightbox.js" %}
{% script src="/js/libs/d3.v2.js" %}
{% script src="/js/libs/bootstrap/scrollspy.js" %}
{% script src="/js/libs/bootstrap/collapse.js" %}
{% script src="/js/libs/bootstrap/dropdown.js" %}
{% script src="/js/libs/bootstrap/modal.js" %}
{% script src="/js/libs/moment.min.js" %}
{% script src="/js/libs/jquery.cookie.js" %}
{% script src="/js/libs/sha1.js" %}
{# {% script src="/js/libs/bootstrap/bootstrap." %} #}
{% script src="/js/libs/jquery.pjax.js" %}
{% script src="/js/libs/jquery.isotope.min.js" %}
{% script src="/js/libs/jquery-gp-gallery.js" %}
{% script src="/js/libs/jquery.scrollTo.js" %}
{% script src="/js/libs/tumblelog.js" %}
{% script src="/js/libs/num2str.js" %}
{% coffee src="/js/spdy.coffee" %}
{% coffee src="/js/password.coffee" %}
{% coffee src="/js/script.coffee" %}
{% coffee src="/js/nav.coffee" %}
{% coffee src="/js/blog.coffee" %}


{% include "note-tmpl.html" %}

<script type="text/javascript">
	var _gaq=[['_setAccount','UA-29068066-1'],['_setDomainName', 'yaluandmike.com'],['_setAllowLinker', true],['_trackPageview']];
	(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
	g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
	s.parentNode.insertBefore(g,s)}(document,'script'));
</script>
<script type="text/javascript">window.renderTime=new Date();</script>
</body>
</html>
