{% extends "base.html" %}

{% block subtitle %}Wedding Information and Directions{% endblock %}

{% block content %}
<br>
<h3>Where</h3>
<p>The ceremony and reception will both be held at <a href="https://maps.google.com/maps?saddr=&daddr=42.57366132376848, -70.96785485744476" target="_blank">Glen Magna Farms in Danvers, Massachusetts</a></p>
<p>Directions:<p>
<ul>
<li>The official address is <a href="https://maps.google.com/maps?saddr=&daddr=42.57366132376848, -70.96785485744476" target="_blank">29 Ingersoll St, Danvers, MA</a>.  If you are using a GPS and it does not recognize this address, use 83 Centre St
Danvers, MA.  At this corner there is a sign for Glen Magna Farms.  Once you are headed down the long road, keep driving until you see the house!  You will know when you arrive.</li>
<li>From Logan Airport, follow signs for Massachusetts 1A N/Revenue and merge onto I-90E.  Continue on 1A until Beach St and Vfw Pkwy, and take the slight left onto MA-60W.  At the first traffic circle, continue straight on MA-60W.  At the second traffic circle, take the 1st exit onto the US-1N ramp to Newburyport.  After 10.4 miles, take the Centre St exit.  Turn left onto Centre St, and take the 3rd left onto Ingersoll Street. </li>
<li>From I-95N (coming from CT), take exit 44B towards US-1N/Danvers.  Continue on US-1N/Newburyport Turnpike and keep right at forks.  Take the Centre St exit.  Turn left onto Centre St, and take the 3rd left onto Ingersoll Street.</li>
</ul>

<br>
<h3>When</h3>
<p>
The ceremony will be held on Sunday, May 12, 2013. It will be an evening ceremony, likely starting around 5:30pm (we do not yet have the specific time). Please note that the final time will be listed on the invitations. Also note that we will be providing <a href="/updates/" data-pjax>updates</a> as we get more details.
</p>

<br>
<h3>Hotels</h3>
<p>Mike and Yalu will be reserving a block of hotel rooms at a discounted rate, in the near future, for our guests' convenience.  More information will follow on this section of the page once we have finalized the details.  Guests do not have to stay in the same hotel, or stay at hotels at all.  Since May is college graduation season in Boston, hotel rooms may be hard to find or pricey.  For those who do not want to go the hotel route, we suggest the followigng options:</p>
<ul>
  <li> Staying with friends in the area</li>
  <li> Renting through <a href="http://www.airbnb.com/" target="_blank">airbnb.com</a></li>
</ul>


{% endblock %}
