{% extends "base.html" %}

{% block subtitle %}Wedding Information and Directions{% endblock %}

{% block content %}
<h3>Location</h3>
<p>The ceremony and reception will both be held at Glen Magna Farms in Danvers, Massachusetts on Sunday, May 12, 2013.  Guests should prepare to arrive at [5:30]pm sharp!</p>
<p>Directions:<p>
<ul>
<li>The official address is 29 Ingersoll Street, Danvers, MA.  If you are using a GPS and it does not recognize this address, use 83 Centre St
Danvers, MA.  At this corner there is a sign for Glen Magna Farms.  Once you are headed down the long road, keep driving until you see the house!  You will know when you arrive.</li>
<li>From Logan Airport, </li>
</ul>

<h3>Hotels</h3>
<p>Hotels....</p>

<h3>Things to Do</h3>
<p>If you arrive early or for the weekend, spend the day in Boston or Cambridge!  We recommend:</p>
<ul>
<li>Visiting <a href="http://web.mit.edu/institute-events/visitor/">MIT</a>, where we met, if you have not been there before</li>
<li>Visiting that other school down the road</li>
<li>Spending some time in the Boston Commons (park) or Gardens (which should be blooming in May!)</li>
</ul>

{% endblock %}
