{% extends "base.html" %}

{% block subtitle %}Gifts/Registry{% endblock %}

{% block content %}
<p>As Yalu and Mike already own too many physical items and will be moving in September, they have decided to set up a <a>honeymoon registry</a> instead of a traditional gift registry for their wedding.  Also, they are likely to be happier this way (See <a href="http://www.npr.org/templates/story/story.php?storyId=121908647">For Happiness, Spend Money on Experiences</a>)</p>

They are currently considering choosing between the following places to visit on their honeymoon:
<ul>
<li>Malta</li>
<li>Japan</li>
<li>Hong Kong and Singapore</li>
</ul>

<p>Have suggestions about these places or other cool places?  Leave a note below! </p>

{% endblock %}
