{% extends "base.html" %}

{% block subtitle %}Other Information{% endblock %}
{% block content %}
<br></br>
<h3>Why 5-12-13</h3>
<p>
As mentioned in <a href="/story/">How we met</a>, Yalu and Mike's first &quot;date&quot; was a showing
of <a href="http://www.imdb.com/title/tt0278443/" target="_blank">Fermat's Last Tango</a> with a group
of friends.
<br>
<u>Fermat's Last Tengo</u> is a play about solving Fermat's last theorem, which can by simply stated as:
<br>
<pre><center>a<sup>n</sup> + b<sup>n</sup> = c<sup>n</sup> does not have any integral solutions where n > 2.</center></pre>
In the case where <tt>n = 2</tt>, then we
have the pythagorean theorem. Integral solutions are called <em>pythagorean triples</em>, and <tt>5, 12, 13</tt>
is a common triple that is used throughout high school.
</p>

<br></br>
<h3>Historical House</h3>
<p>
We will be holding the reception at the mansion of Glen Magna Farms, which is a historic house.  To learn more about the history of the house, please visit the <a href="http://www.danvershistory.org/buildings/glen.html">Danvers Historical Society site</a>. Also we ask all guests to be careful with items and ornaments that belong to the house, as we want to be respectful of the property and minimize damage.
</p>

<br></br>
<h3>Gifts/Registry</h3>
<p>As Yalu and Mike will be moving out of their apartment in September (and will be selling all their furniture and likely many other items), they have decided not to set up a traditional gift registry.  Instead, they have opted for a 
{% if env.PROD %}<a href="https://www.yaluandmike.com/other/gifts.html" data-pjax>{% else %}<a href="/other/gifts.html" data-pjax>{% endif %}honeymoon registry</a>.  In fact, they are likely to be happier this way (See <a href="http://www.npr.org/templates/story/story.php?storyId=121908647">For Happiness, Spend Money on Experiences</a>)</p>


<p>Have suggestions about places to visit around Hong Kong?  Leave a note below! </p>

<br></br>
<h3>Things to Do</h3>
<h4>Around Boston</h4>
<p>If you arrive early or for the weekend, spend the day in Boston or Cambridge!  We recommend:</p>
<ul>
<li>Visiting <a href="http://web.mit.edu/institute-events/visitor/">MIT</a>, where we met, if you have not been there before or if you have not visited recently (there have been a lot of campus changes!)</li>
<li>Visiting that <a href="http://www.harvard.edu/visitors">other school</a> down the road</li>
<li>Spending some time in the Boston Commons (park) or <a href="http://www.cityofboston.gov/parks/emerald/public_garden.asp">Gardens</a> (which should be blooming in May!)</li>
<li>See the renowned <a href="http://www.mos.org/visitor_info">Museum of Science</a> or <a href="http://www.mfa.org/visit">Museum of Fine Arts</a> or <a href="http://www.icaboston.org/"> Institute of Contemporary Art</a> or <a href="http://www.neaq.org/index.php">New England Aquarium</a> or <a href="http://www.bpl.org/central/tours.htm">Boston Public Library</a> or <a href="http://www.marybakereddylibrary.org/visit/hours">the Mapparium</a></li>
<li>Go beer tasting at <a href="http://www.harpoonbrewery.com/">Harpoon</a> (our personal favorite) or <a href="http://www.samueladams.com/age-gate.aspx?ReturnUrl=%2fshare-passion%2ftours.aspx">Sam Adams</a></li>
<li>Catch a ballgame at <a href="http://boston.redsox.mlb.com/bos/ballpark/index.jsp">Fenway</a></li>
<li>See historic Boston by walking <a href="http://www.thefreedomtrail.org/">the Freedom Trail</a></li>
<li>Any recommendations by <a href="http://frugaltraveler.blogs.nytimes.com/2011/11/08/boston-free-and-easy-and-campus-oriented/">The New York Times</a> or <a href="http://www.time.com/time/travel/cityguide/article/0,31489,1984920,00.html">Time Travel</a></li>
</ul>

<h4>Around Danvers</h4>
<ul>
<li><a href="http://salem.org/">Salem, Massachusetts.  </a>Your visit will likely be a lot more calmer and peaceful than when Mike and Yalu visited on Halloween a few years ago.</li>
<li><a href="http://www.thetrustees.org/places-to-visit/northeast-ma/crane-beach-on-the-crane.html">Crane Beach</a> in Ipswich is a beautiful, sandy beach (rare in Massachusetts)!  You can lie on the beach, hike on the trails, or visit Castle Hill.</li>
<li>If you are feeling adventurous, we strongly recommend <a href="http://www.plumislandkayak.com/plum/index.php">Plum Island Kayaking</a>.  It's a huge amount of fun, no matter what type of kayaking trip you go on.  We have done the moonlight kayak and the seal kayak, but our most memorable incident was when Lucy and Yalu shared a tandem and got beached in a huge storm (the whole group had to go back &mdash; it was too windy that day!)</li>
<li>Get wiped out at the <a href="http://bostinno.com/2012/08/29/wipeout-obstacle-course/#ss__213781_1_0__ss"> Wipeout Obstacle Course</a>, opening Fall 2012 in Danvers.</li>
</ul>

<br></br>
<h3>Reception Music Request</h3>
<p>
If there is any dance music that you love and want to recommend to us, please use the following form to suggest songs!
</p>
<form name="music-request" id="music-request" action=".">
<label for="song-name">Song Title:</label>
<input type="text" id="song-name" name="song-name">
<br>
<label for="submitter-name">Your name: (optional)</label>
<input type="text" id="submitter-name" name="submitter-name">
<br>
<div class="alert alert-success hide">
  <button type="button" class="close" data-dismiss="alert">×</button>
  <strong>Success!</strong><br>
  Thank you for submitting the song. Feel free to send another!
</div>
<input type="submit" class="btn primary" value="Send song request!">
</form>

{% endblock %}



{% block disqus %}
{% include "disqus.html" %}
{% endblock %}

