{% extends "base.html" %}
{% block subtitle %}The Wedding Party{% endblock %}
{% block content %}

<div class="span5">
<h3>Bridesmaids</h3>

<div>
  <img src="//s3.amazonaws.com/yaluandmike/base/img/headshots/lucy.jpg" alt="Lucy Wu">
  <h4> Lucy Wu,<br> the Maid of Honor </h4>
  <strong>&quot;Older sister&quot;</strong>

  <p style="height: 450px">
    Lucy Wu is Yalu's older sister<a href="#footnote-1"><sup>[1]</sup></a>&mdash;er, roommate from college. Yalu claimed Lucy as her future roommate halfway through freshmen year and they became really good friends, to the extent that people got them confused. Yalu and Lucy love seeking out &quot;adventures&quot;. Surprisingly, their first trip together was their senior year Development Lab trip to Sierra Leone. After graduation, Lucy moved to NYC with Yalu and interned in the city for the summer. Yalu even went to Lucy's company picnic! Lucy then moved back to her favorite coast to study at Stanford for her Master's and currently lives in Hong Kong, working for the same company.
  </p>
  <div class="clearfix"></div>
</div>

<div>
  <img src="//s3.amazonaws.com/yaluandmike/base/img/headshots/xiumin.jpg" alt="Xiumin Zeng">
  <h4> Xiumin Zeng </h4>
  <strong>College Friend</strong>
  <br>
  <div class="clearfix"></div>
</div>

<div>
  <img src="//s3.amazonaws.com/yaluandmike/base/img/headshots/alice.jpg" alt="Alice Chiang">
  <h4> Alice Chiang </h4>
  <strong>College/Work Friend</strong>
  <div class="clearfix"></div>
  <p>
  </p>
</div>
</div>


<div class="span5">
<h3>Groomsmen</h3>
<div>
<img src="//s3.amazonaws.com/yaluandmike/base/img/headshots/price.jpg" alt="Mike Price">
<h4>Michael Price,<br> the Best Man</h4>
<strong>Dr. Price</strong>
<p style="height: 450px">
  Michael and Mike have known each other since freshman year at MIT, where they met at ESP. (The three Michael's
  were known as <em>axiak</em>, <em>pricem</em>, and <em>mshaw</em> to avoid any ambiguities.)
  Axiak was building the current version of the site (as initiated by Jason and Adam), and Pricem took
  over the reigns and has pretty much maintained ownership ever since. Pricem enjoys biking and tennis,
  although his biking pace is too fast for Axiak and they haven't even tried playing tennis.
  Pricem's day job has been to debug FPGAs as he works to revolutionize speech recognition in cellphones as he's
  working towards his PhD at MIT.
</p>
<div class="clearfix"></div>
</div>

<div>
<img src="//s3.amazonaws.com/yaluandmike/base/img/headshots/adam.jpg" alt="Adam Buggia">
<h4>Adam Buggia</h4>
<strong>Coder Boss</strong><br>
</div>
<br>
<div class="clearfix"></div>


<div>
<img src="//s3.amazonaws.com/yaluandmike/base/img/headshots/joey.jpg" alt="Joey Axiak">
<h4>Joseph Axiak</h4>
<strong>Younger Brother</strong><br>
</div>
<div class="clearfix"></div>

</div>
<div class="clearfix"></div>

<div class="footnotes">

<a name="footnote-1"></a>[1]: Lucy and Yalu have very similar names.. the only difference is that Yalu has an extra "Ya" character.
</div>

{% endblock %}
