{% extends "base.html" %}
{% block subtitle %}The Wedding Party{% endblock %}
{% block content %}
<br>
<h3>Bridesmaids</h3>

<h4> Lucy Wu, the Maid of Honor </h4>
<strong></strong>

<p>
Lucy Wu is Yalu's older sister<a href="#footnote-1"><sup>[1]</sup></a> &mdash; er, roommate from college.  Yalu claimed Lucy as her future roommate halfway through freshmen year because, though they didn't know each other very well at the time, Lucy was &mdash; and still is &mdash; a very practical person.  They ended up becoming really good friends, to the extent that people always got them and their majors confused.  Yalu and Lucy love spending time together seeking out "adventures."  Surprisingly, the first trip they made together was their senior year Development Lab project trip to Sierra Leone.  After graduation, Lucy moved to New York City with Yalu and interned in the city for the summer, becoming familiar with the C and E lines.  Yalu even went to Lucy's company picnic!  Lucy then moved back to her favorite coast to study at Stanford for her Master's degree.  Currently, she lives in Hong Kong, working for the same company.
</p>
<br>

<h4> Xiumin Zeng </h4>
<strong>College Friend</strong>
<br>

<h4> Alice Chiang </h4>
<strong>College Friend</strong>
<p>
</p>
<br>


<h3>Groomsmen</h3>
<h4>Michael Price, the Best Man</h4>
<p>
  Michael and Mike have known each other since freshman year at MIT, where they met at ESP.
  Mike was building the current version of the site (as initiated by Jason and Adam), and Michael Price took
  over the reigns and has pretty much maintained ownership ever since. Michael has been a 
</p>

<h4>Adam Buggia</h4>
<strong>Coder Friend</strong><br>

<h4>Joseph Axiak</h4>
<strong>Younger Brother</strong><br>

<div class="footnotes">
<a name="footnote-1"></a>[1]: Lucy and Yalu have very similar names.. the only difference is that Yalu has an extra "Ya" character.
</div>

{% endblock %}
