{% extends "base.html" %}
{% block subtitle %}The Wedding Party{% endblock %}
{% block content %}
<br></br>
<h3>Bridesmaids</h3>

<h4> Lucy Wu, the Maid of Honor </h4>

<p>
Lucy Wu is Yalu's older sister<a href="#footnote-1"><sup>[1]</sup></a> &mdash; er, roommate from college.  Yalu claimed Lucy as her future roommate halfway through freshmen year because, though they didn't know each other very well at the time, Lucy was &mdash; and still is &mdash; a very practical person.  They ended up becoming really good friends, to the extent that people always got them and their majors confused.  Yalu and Lucy love spending time together seeking out "adventures."  Surprisingly, the first trip they made together was their senior year Development Lab project trip to Sierra Leone.  After graduation, Lucy moved to New York City with Yalu and interned in the city for the summer, becoming familiar with the C and E lines.  Yalu even went to Lucy's company picnic!  Lucy then moved back to her favorite coast to study at Stanford for her Master's degree.  Currently, she lives in Hong Kong, working for the same company.
</p>
<br></br>

<h4> Xiumin Zeng </h4>
<p>
Xiumin and Yalu met during freshmen year and both took 6.001 (Intro to Computer Science or something.. basically Scheme, however), though neither ended up majoring in Course 6.  They have done a lot of traveling together over the years, especially in France, where they both spent a summer.  After graduation, Xiumin moved to Ithaca for a year for her Master's degree at Cornell, and visited Yalu a few times in the city.  After that year, both Yalu and Xiumin moved back to Boston, where they now enjoy hiking, eating out, and going on day trips together.
</p>
<br></br>

<h4> Alice Chiang </h4>
<p>
Yalu and Alice met during Yalu's freshmen year and Alice's sophomore year and spent their college years doing psets together, attending some recruiting events together, and talking about MIT.  After Alice graduated, she visited various locations in Europe, one of which included Paris, where Yalu was spending the summer!  After Yalu graduated, she joined Alice's group at work, where she got to see Alice for at least 12 hours a day (yay!), and learned to speak a new language.  Alice currently lives in Dallas.
</p>
<br></br>


<h3>Groomsmen</h3>
<p>Text...</p>


<div class="footnotes">
<a name="footnote-1"></a>[1]: Lucy and Yalu have very similar names.. the only difference is that Yalu has an extra "Ya" character.
</div>

{% endblock %}
